*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(167, 167, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}
.container{
    width: 400px;
    height: 500px;
    background-color: lavender;
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: center;
    align-items: center;
} 
input{
    position: absolute;
    left: 5%;
    top: 5%;
    height: 60px;
    background-color: whitesmoke;
    color: rgb(167, 167, 206);
    font-size: 17px;
    font-weight: bolder;
}
button{
    position: absolute;
    right: 5%;
    top: 5%;
    height: 60px;
    width: 120px;
    background-color: whitesmoke;
    color:  rgb(167, 167, 206);
    font-weight: bolder;
    font-size: 19px;
}
p{
    color: rgb(3, 110, 129);
    font-size: 25px;
    padding-top: 5%;
}
